<h1><%= "#{@employee.first_name} #{@employee.last_name}" %></h1>

<img src=<%=@employee.img_url%>><br>
<ul>
<li>Alias: <%= @employee.alias %><br>
<li>Title: <%= @employee.title %><br>
<li>Office: <%= @employee.office %><br>
<li>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %><br><br><br></ul>

<%= button_to "Delete Employee", employee_path(@employee), method: "delete" %><br><br>

<%= link_to "Edit Employee", edit_employee_path(@employee) %><br><br>

<strong><%= link_to "Return to Employees", employees_path %></strong>